@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
 margin: 0;
 padding: 0;
}
.container{
 max-width: 1122px;
 background-color: rgb(243, 243, 251);
 padding: 20px 50px;
 margin: 0 auto;
}
.topheading {
  overflow: hidden;
}
.topleft {
  width: 60%;
  float: left;
  text-align: center;
}
.toptext {
  width: 200px;
  float: right;
  line-height: 30px;
  padding-top: 5px;
}
.topright {
  width: 40%;
  float: left;
}
.topright img {
  float: right;
  width: 100px;
}
.Section_Heading {
  font-weight: bold;
  text-decoration: underline;
  padding: 8px 0;
}
.heading{
 font-size: 36px;
 font-family: 'Bree Serif',
 serif;
 
}

.img_heading {
 background: #777;
 color: #fff;
 padding: 5px 2px;
 margin-bottom: 10px;
 text-align: center;
}
.table_2 {
  width: 100%;
  text-align: center;
  height: 200px;
}
.table_2,
.table_2 tr,
.table_2 th,
.table_2 td {
  border: 1px solid;
  border-collapse: collapse;
}
.gallery {
  width: 30%;
  float: left;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 300px;
  border: 2px solid #777;
}
.gallery:hover {
  border: 2px solid #333;
}
.gallery .desc {
  padding: 5px;
}
.gallery img{
  width: 100%;
  height: 250px;
}
.imggallery {
  overflow: hidden;
}
footer {
  background: #333;
  padding: 20px;
}
footer img {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  padding: 2px;
  border-radius: 100%;
}
footer img:hover{
  border: 3px solid;
}

@media screen and (max-width: 576px) {
  .Section_Heading {
    font-size: 14px;
    text-decoration: none;
  }
  .table_2 {
    width: 90%;
  }
  .table_2 th {
    font-size: 14px;
  }
  .gallery {
    width: 100%;
  }
 }

 @media screen and (max-width: 350px) {
   .topheading {
    text-align: center;
   }
   .topleft {
     width: 100%;
     float: none;
   }
   .topright {
     width: 100%;
   }
   .topright img {
     float: none;
     width: 124px;
   }
 }
 